# Escludi questi file e directory dal subversionamento

tesi/auto/*

tesi/Tesi_GITDalila.tex

tesi/Tesi_GITDalila.rel

tesi/Tesi_GITDalila.R

tesi/Tesi_GITDalila-frn.tex

tesi/figure/*

Articolo_tesi/ArticoloPLFA.synctex.gz

Articolo_tesi/ArticoloPLFA.tex

Articolo_tesi/ArticoloPLFA.R

Articolo_tesi/*.sty

Articolo_tesi/*.bst

Articolo_tesi/*.clo

Articolo_tesi/*.cls
Articolo_tesi/bibliografia/*